[submodule "UralEngine/vendor/spdlog"]
	path = UralEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "UralEngine/vendor/glfw"]
	path = UralEngine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "UralEngine/vendor/imgui"]
	path = UralEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "UralEngine/vendor/glm"]
	path = UralEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "UralEngine/vendor/assimp"]
	path = UralEngine/vendor/assimp
	url = https://github.com/assimp/assimp
