[submodule "UralEngine/vendor/spdlog"]
	path = UralEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "UralEngine/vendor/glfw"]
	path = UralEngine/vendor/glfw
	url = https://github.com/glfw/glfw
